---
---
:root {
  --bg_h: #f9f5d7;
  --bg: #fbf1c7;
  --bg_s: #f2e5bc;
  --bg1: #ebdbb2;
  --bg2: #d5c4a1;
  --bg3: #bdae93;
  --bg4: #a89984;

  --fg: #282828;
  --fg1: #3c3836;
  --fg2: #504945;
  --fg3: #665c54;
  --fg4: #7c6f64;

  --red: #9d0006;
  --green: #79740e;
  --yellow: #b57614;
  --blue: #076678;
  --purple: #8f3f71;
  --aqua: #427b58;
  --orange: #af3a03;
  --gray: #928374;

  --red-dim: #cc2412;
  --green-dim: #98971a;
  --yellow-dim: #d79921;
  --blue-dim: #458598;
  --purple-dim: #b16286;
  --aqua-dim: #689d6a;
  --orange-dim: #d65d0e;
  --gray-dim: #7c6f64;
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg_h: #1d2021;
    --bg: #282828;
    --bg_s: #32302f;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --bg4: #7c6f64;

    --fg: #fbf1c7;
    --fg1: #ebdbb2;
    --fg2: #d5c4a1;
    --fg3: #bdae93;
    --fg4: #a89984;

    --red: #fb4934;
    --green: #b8bb26;
    --yellow: #fabd2f;
    --blue: #83a598;
    --purple: #d3869b;
    --aqua: #8ec07c;
    --gray: #928374;
    --orange: #fe8019;

    --red-dim: #cc2412;
    --green-dim: #98971a;
    --yellow-dim: #d79921;
    --blue-dim: #458588;
    --purple-dim: #b16286;
    --aqua-dim: #689d6a;
    --gray-dim: #a89984;
    --orange-dim: #d65d0e;
  }
}

body > footer {
  text-align: center;
}

#glpzzz {
  max-width: 80px;
  border-radius: 100%;
  padding: .25rem;
  background: var(--bg_h);
  border: 1px solid var(--fg);
}

#title-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#title-container:hover {
  text-decoration: none;
}

#title {
  display: block;
  font-weight: bold;
  font-size: 1.3rem;
}

#main-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border: 1px dotted var(--yellow);
  border-left: none;
  border-right: none;
  padding: .5rem 0;
  margin: 1rem 0;
}

#main-nav > li {
  margin: 0;
}

.markdown-body {
  background: var(--bg);
  color: var(--fg);

  box-sizing: border-box;
  min-width: 360px;
  margin: 0 auto;
  padding: 1rem 1rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
}

.markdown-body h1, .markdown-body h2 {
  border-bottom: 1px dotted var(--yellow);
}

.markdown-body a {
  color: var(--yellow);
}

.markdown-body code {
  font-family: "Fira Code", monospace;
}

.markdown-body .highlight pre, .markdown-body pre {
  font-size: 75%;
  font-family: "Fira Code", monospace;
  background: var(--bg_h);
}

.markdown-body img {
  width: 100%;
  height: auto;
}

ul.list-inline,
ol.breadcrumbs {
  padding: 0;
}

ul.list-inline > li,
ol.breadcrumbs > li {
  display: inline-block;
}

ul.list-inline > li:last-child:after {
  content: "";
}

ul.list-inline > li:after {
  content: " | "
}

ol.breadcrumbs > li:after {
  content: " > "
}

ol.breadcrumbs > li:last-child:after {
  content: "";
}

p.description-post {
  font-style: italic;
  color: var(--aqua);
}

p.description-page {
  display: none;
}

@media (min-width: 576px) {
  #glpzzz {
    max-width: 90px;
  }
  #title {
    font-size: 1.85rem;
  }
}

@media (min-width: 676px) {
  #glpzzz {
    max-width: 100px;
  }
  #title {
    font-size: 2.3rem;
  }
}

@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: .318fr .682fr;
    grid-template-rows: 0fr 0fr 1fr;
    grid-template-areas:
                "header content"
                "footer content"
                ". content";

  }

  body > header {
    grid-area: header;
    padding: 1rem 0%;
    position: sticky;
    top: 30px;
    text-align: center;
  }

  #title-container {
    display: block;
  }

  #glpzzz {
    width: 100%;
  }

  #title {
    font-size: 1.5rem;
  }

  main {
    grid-area: content;
    padding: 0 2rem;
  }

  body > footer {
    padding: 0 1rem;
    grid-area: footer;
    position: sticky;
    top: 354px;
  }

  #main-nav > li:last-of-type {
    display: none;
  }

  #post-list {
    list-style: none;
    padding: 0;
  }

  #post-list > li {
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px var(--bg_h);
  }

  #post-list > li > h2 {
    border: 0;
    margin: 0;
  }

  #post-list > li > p.description-post {
    margin: 0;
  }
}

@media (min-width: 992px) {
  #title {
    font-size: 2rem;
  }

  body > footer {
    top: 390px;
  }
}

@media (min-width: 1200px) {
  #title {
    font-size: 2.5rem;
  }

  #glpzzz {
    max-width: unset;
    width: 60%;
  }

  body > footer {
    top: 549px;
  }

}

@media (min-width: 1366px) {
  body > header {
    padding: 1rem 10%;
  }

  #title {
    font-size: 2rem;
  }

  #main-nav {
    justify-content: space-around;
  }

  body > footer {
    top: 493px;
  }

}

@media (min-width: 1440px) {
  #title {
    font-size: 2.4rem
  }

  body > footer {
    top: 533px;
  }
}

@media (min-width: 1600px) {
  #title {
    font-size: 2.6rem
  }

  body > footer {
    top: 572px;
  }
}

@media (min-width: 1900px) {
  body {
    max-width: 1920px;
  }

  #title {
    font-size: 3rem;
  }

  body > footer {
    top: 649px;

  }
}

@media print {
  body.markdown-body > footer {
    display: none;
  }
}

