---
---
:root {
  --bg_h: #f9f5d7;
  --bg: #fbf1c7;
  --bg_s: #f2e5bc;
  --bg1: #ebdbb2;
  --bg2: #d5c4a1;
  --bg3: #bdae93;
  --bg4: #a89984;

  --fg: #282828;
  --fg1: #3c3836;
  --fg2: #504945;
  --fg3: #665c54;
  --fg4: #7c6f64;

  --red: #9d0006;
  --green: #79740e;
  --yellow: #b57614;
  --blue: #076678;
  --purple: #8f3f71;
  --aqua: #427b58;
  --orange: #af3a03;
  --gray: #928374;

  --red-dim: #cc2412;
  --green-dim: #98971a;
  --yellow-dim: #d79921;
  --blue-dim: #458598;
  --purple-dim: #b16286;
  --aqua-dim: #689d6a;
  --orange-dim: #d65d0e;
  --gray-dim: #7c6f64;

}

@media (prefers-color-scheme: dark) {
  :root {
    --bg_h: #1d2021;
    --bg: #282828;
    --bg_s: #32302f;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --bg4: #7c6f64;

    --fg: #fbf1c7;
    --fg1: #ebdbb2;
    --fg2: #d5c4a1;
    --fg3: #bdae93;
    --fg4: #a89984;

    --red: #fb4934;
    --green: #b8bb26;
    --yellow: #fabd2f;
    --blue: #83a598;
    --purple: #d3869b;
    --aqua: #8ec07c;
    --gray: #928374;
    --orange: #fe8019;

    --red-dim: #cc2412;
    --green-dim: #98971a;
    --yellow-dim: #d79921;
    --blue-dim: #458588;
    --purple-dim: #b16286;
    --aqua-dim: #689d6a;
    --gray-dim: #a89984;
    --orange-dim: #d65d0e;
  }
}

html {
  font-size: 16px;
}

body {
  background: var(--bg_h);
  color: var(--fg);
  padding: 0;
  margin: 0;
}

main {
  background: var(--bg);
  padding: 1rem;
}

h1 {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: monospace;
}

h1 {
  font-size: 2rem;
}

time{
  font-size: .8rem;
}

img {
  max-width: 100%;
}

a {
  color: var(--yellow);

  &:hover {
    color: var(--yellow-dim);
    text-decoration: none;
  }
}

blockquote {
  background: var(--bg_h);
  color: var(--fg1);
  padding: .5rem .5rem .5rem 1rem;
  border-left: 4px solid var(--yellow);
  margin: 0;
}

pre > code {
  overflow: auto;
  max-width: 100%;
  display: block;
  padding: .25rem .25rem .5rem;
  background: var(--bg_h);
}

article {
  > header {
    > p {
      color: var(--fg1);
      font-style: italic;
      font-size: .8rem;
    }
  }
}

#title {
  background: var(--blue);
  color: var(--bg);
  display: block;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  padding: .25rem 1rem;
  text-decoration: none;
}

#main-nav {
  background: var(--bg_h);
  display: flex;
  font-family: "Fira Code", monospace;
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    margin: 0;
    padding: .5rem 1rem;

    & > a {
      text-decoration: none;
    }

  }
}

#post-list {
  padding-left: 1rem;

  > li {
    margin-bottom: 1rem;

    > time {
      display: block;
      font-style: italic;
    }

    > h2 {
      font-size: inherit;
      display: inline;
      margin: 0;
    }

    > p {
      display: inline;
    }
  }
}

body > footer {
  text-align: center;
  padding: 0 .5rem .5rem;
}

ul.list-inline {
  display: block;
  padding: 0;
  list-style-type: none;

  > li {
    display: inline;
    padding: .25rem;
  }
}

@media (min-width: 1024px) {

  html {
    font-size: 20px;
  }

  body {
    width: 1024px;
    margin: 0 auto;
  }

  #title-container {
    display: flex;

    > img {
      aspect-ratio: 1/1;
      height: auto;
      width: 100px;
    }
  }

  #glpzzz {
    float: right;
    margin-left: 1rem;
    width: 50%;
  }

  #post-list {
    clear: both;
  }

}
