---
layout: home
---

<article>

    <header>
        <h1>{{page.title}}</h1>
        <p class="description-post">
            {% if page.date %}
            <time datetime="{{page.date}}">{{ page.date | date: '%B %d, %Y' }}</time>
            -
            {% endif %}
            {{ page.description | xml_escape }}
        </p>
    </header>

    {{ content }}

    <footer>
        <h2>Liked? Share this!</h2>
        <ul class="share-buttons list-inline" data-source="simplesharingbuttons.com">
            <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fglpzzz.dev&quote="
                   target="_blank" title="Share on Facebook"
                   onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;">Facebook</a>
            </li>
            <li>
                <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fglpzzz.dev&text=:%20http%3A%2F%2Fglpzzz.dev&via=glpzzz"
                   target="_blank" title="Tweet"
                   onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;">Twitter</a>
            </li>
            <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fglpzzz.dev&title=" target="_blank"
                   title="Submit to Reddit"
                   onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">Reddit</a>
            </li>
            <li>
                <a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fglpzzz.dev&title=&summary=&source=http%3A%2F%2Fglpzzz.dev"
                   target="_blank" title="Share on LinkedIn"
                   onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">LinkedIn</a>
            </li>
        </ul>
    </footer>
    <aside>
        <h2>Keep reading</h2>
        <ul>
            {% if page.next %}
            <li><strong>Next:</strong> <a href="{{page.next.url}}">{{page.next.title}}</a></li>
            {% endif %}
            {% if page.previous %}
            <li><strong>Previous:</strong> <a href="{{page.previous.url}}">{{page.previous.title}}</a></li>
            {% endif %}
        </ul>
    </aside>

</article>
